@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}
.relway{
    font-family: "Raleway", sans-serif;
}
.divider{
    position: absolute;
    border-left: 2px dashed #fff;
    height: 100%;
    left: 60%;
    top: 50%;
    transform: translateY(-55%);
}
.dividerr{
    position: absolute;
    border-left: 2px dashed #1DD100;
    height: 100%;
    right: -6%;
    top: 50%;
    transform: translateY(-50%);
}
.btns{
    padding: 21px 30px;
    border: 2px solid #1DD100;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #1DD100;
}
.seats{
    width: 110px;
    height: 56px;
    background: #03071220;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030712;
    font-size: 18px;
    font-weight: 500;
}
.seat-devider{
    height: 100%;
    width: 2px;
    background: #0307124D;
}
.serial{
    width: 110px;
    height: 56px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030712;
    font-size: 18px;
    font-weight: 500;
}
#check-out li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}
.cuppon-button{
    background: #1DD100;
}
.popup{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8cacac;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
}